.general {
    margin: 0 auto ;
    /*display: flex;*/
}

.left {
    width: 40%; 
    border-width: 0; 
    float: left;  
}

.right {
    width: 40%;
    float: left;
}

.left div:nth-child(1) {
    border: 5px solid black;
    height: 300px;
}

.left div:nth-child(2) {
    border: 5px solid red;
    height: 300px;
}

.right div:nth-child(1) {
    border: 5px solid blue;
    height: 200px;
}

.right div:nth-child(2) {
    border: 5px solid orange;
    height: 200px;
}

.right div:nth-child(3) {
    border: 5px solid purple;
    height: 190px;
}