.title {
    height: 60px;
    background-color: violet;
    text-align: center;
} 

h1 {
    padding: 20px;
    text-transform: uppercase;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a:nth-child(1) {
    padding-right: 100px;
    border-right: 1px solid black;
}

nav a:nth-child(2) {
    padding-right: 100px;
    border-right: 1px solid black;
}

nav a:nth-child(3) {
    padding-right: 100px;
    border-right: 1px solid black;
    color: lightgrey;
}

.menu {
    border-bottom: 1px solid black;
}

h2 {
    text-transform: uppercase;
    font-size: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.section1 div {
    margin: 10px;
}

.block1 img {
    height: 200px;
    width: 945px;
    margin-bottom: 5px;
}

.block1 p {
    text-align: center;
    font-size: 6px;
    margin-left: 16.37px;
    margin-right: 16.37px;
    margin-bottom: 10px;
}

.block1 span {
    margin-left: 15px;
    text-align: left;
    font-size: 5px;
    font-weight: bold;
}

.block2 img {
    height: 200px;
    width: 420px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.block2 p {
    text-align: center;
    font-size: 6px;
    margin-left: 16.37px;
    margin-right: 550px;
    margin-bottom: 10px;
}

.block2 span {
    margin-left: 190px;
    text-align: center;
    font-size: 5px;
    font-weight: bold;
}

.block3 img {
    height: 200px;
    width: 420px;
    margin-bottom: 5px;
    margin-left: 525px;
}

.block3 p {
    text-align: center;
    font-size: 6px;
    margin-left: 536.37px;
    margin-right: 16.37px;
    margin-bottom: 10px;
}

.block3 span {
    margin-left: 890px;
    text-align: right;
    font-size: 5px;
    font-weight: bold;
}

nav ul {
    border: 10px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    width: 50px;
    margin-left: 900px;

}

ul li:nth-child(1) { 
    margin-bottom: 10px;
}

ul li:nth-child(2) { 
    margin-bottom: 10px;
}

li {
    text-transform: uppercase;
}